{% extends 'base.html' %}
{% block title %}Giriş Yap | Göster Kendini{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow border-0">
                <div class="card-body p-4">
                    <h2 class="text-center mb-4 fw-bold">Hoş Geldin</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-dark w-100 mt-3">Giriş Yap</button>
                    </form>
                    <hr>
                    <p class="text-center">Hesabın yok mu? <a href="{% url 'register' %}">Kayıt Ol</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}